<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Craigsville  Youth Baseball</title>
 <link rel = "stylesheet"
   type = "text/css"
   href = "css/homepage.css" />
  </head>
  <body>
    <header>
      <a href="#" class="logo">
        <em>Craigsville </em><strong>Youth Baseball</strong>
      </a>
      <nav>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Contact</a></li>
        </ul>      
      </nav>
		<div style="width:415px;">
		<div class="bar" style="width:100%;"></div>
			<div class="bar" style="width:75%;"></div>
		</div>
		<div class="box">
			<span class="legend" style="background-color: #BA4662;"></span><span>Unavailable</span>
			<span class="legend" style="background-color: #99ccff;"></span><span>Available</span> 	
		</div>
    </header>
    <section>
      <h1>Welcome to <em>Local Youth Sports</em></h1>
        <h2>The Fun</h2><h2>The Tradition</h2><h2>The Excitement</h2>
        <br>
      <p>Proud supporter of Little League Baseball</p>
      <input type="submit" id="submit" value="Teams">
    </section>
  </body>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</html>